{% extends 'base.html' %}
{% block title %} Entrenadores {% endblock %}
{% block content %}
<br>
{% if user.is_authenticated %}
<a href="/agregar/" class="btn btn-info" title="Agregar Nuevo Entrenador">Agregar Entrenadores</a>

{% endif %}
<br>
{% if entrenadores %}
	<!--<table class="table table-hover table-bordered">-->
	<table class="table table-striped">
		<theader>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Cedula</th>
				<th>Telefono</th>
				<th>Direccion</th>
				<th></th>
				<th></th>
				<th>Acciones</th>
                <th></th>
			</tr>
		</theader>
    {% for p in entrenadores %}
    <tbody>
    	<tr>
		<td>{{p.id}}</td>
    		<td>{{p.nombre}}</td>
    		<td>{{p.apellido}}</td>
    		<td>{{p.cedula}}</td>
    		<td>{{p.telefono}}</td>
    		<td>{{p.direccion}}</td>
    		<td></td>
    		<td><a class="btn" href="/elimi/{{p.id}}/"><li class="icon-remove"></li>Eliminar</a></td>
    		<td><a class="btn" href="/editar/entrenador/{{p.id}}/"><li class="icon-edit"></li>Editar</a></td>
            <td><a class="btn" href="/entrenador/{{p.id}}/"><li class="icon-search"></li>Ver</a></td>
    	</tr>
    </tbody>
        <!--<p><a href="/producto/{{p.id}}/">{{p.nombre}}</a></p>-->
    {% endfor %}
    </table>
{% else %}
    <h2>No hay Entrenadores activos</h2>
{% endif %}
<br>
{% if entrenadores %}
    <div class="pagination">
    <ul>
		<li><a href="/entrenadores/page/1"> << </a></li>
	{% if entrenadores.has_previous %}
		<li><a href="/entrenadores/page/{{entrenadores.previous_page_number }}/"> Prev </a></li>
	{% else %}
		<li><a href="#"> Prev </a></li>
	{% endif %}
	{% if entrenadores.has_next %}
		<li><a href="/entrenadores/page/{{entrenadores.next_page_number }}/"> Next </a></li>
	{% else %}
		<li><a href="#"> Next </a></li>
	{% endif %}
		<li><a href="/entrenadores/page/{{entrenadores.paginator.num_pages }} "> >> </a><li>
	</ul>
	</div>
	<h4>  Pagina {{ entrenadores.number }} de {{entrenadores.paginator.num_pages }}</h4>
{% endif %}
{% endblock %}

